<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/344aaa9e-1eb3-42a9-ba6d-a342c83f4702/resourceGroups/bolao-braba/providers/Microsoft.ApiManagement/service/BolaoTesteapi/apis/BolaoTeste</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/344aaa9e-1eb3-42a9-ba6d-a342c83f4702/resourceGroups/bolao-braba/providers/Microsoft.Web/sites/bolao-hexa-api</ResourceId>
    <ResourceGroup>bolao-braba</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bolao-hexa-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>03cdd713-ec17-420e-9cb2-013d36ab36a5</ProjectGuid>
    <PublishUrl>https://bolao-hexa-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bolao-hexa-api</UserName>
    <_SavePWD>true</_SavePWD>
    <EnvironmentName>Development</EnvironmentName>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>